<!-- Insert Item model -->
@model tweekClone.Models.Item;

<li
    class="group py-2 border-b-[1px] border-collapse border-gray-300 line-clamp-1 flex flex-row gap-3 @((@Model.Completed) ? "completed" : "uncompleted")">
    <a class="hover:text-blue-600 line-clamp-1 flex-grow" asp-page="ItemDetails"
        asp-route-id="@Model.Id">@Model.Title</a>


    <input type="hidden" asp-for="@Model.Id" name="ItemId" />
    <input class="invisible group-hover:visible" hx-swap=" outerHTML" hx-target="closest li"
        hx-post="/?handler=UpdateCompleted" asp-for="@Model.Completed" type="checkbox" class="rounded-full"
        hx-include="closest li"></input>
</li>