@page

@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="p-8 ">
    <h1 class="font-bold text-5xl">@Model.WeekOverview.MonthName</h1>
    <p class='@((Model.WeekOverview.IsThisWeek) ? "text-blue-500" : "")'>Week @Model.WeekOverview.WeekNumber</p>

    <a href='/?startDate=@Model.WeekOverview.StartDate.AddDays(-7).ToString("yyyy-MM-dd")'>Last week</a>
    <a href='/?startDate=@Model.WeekOverview.StartDate.AddDays(7).ToString("yyyy-MM-dd")'>Next week</a>

    <div class="grid grid-cols-7 w-full gap-10">
        @foreach (var day in Model.WeekOverview.WeekDays)
        {
            <div class="col-span-1">
                <h1 class='font-bold text-xl @(day.Date == DateOnly.FromDateTime(DateTime.Today) ? "text-blue-500" : "")'>
                    @day.WeekdayName</h1>
                <ul>
                    @foreach (var item in @day.DayItems)
                    {
                        <!-- Insert parialview ItemListView.cshtml --> 
                        @await Html.PartialAsync("_ItemListView", item)
                    }
                </ul>
                <form method="post">
                    <input type="hidden" asp-for="@Model.NewItem.LinkedDate" value="@day.Date" autofocus />
                    <input asp-for="NewItem.Title"
                        class="focus:border-b-2 focus:border-black py-2 border-b-[1px] border-collapse border-gray-300 w-full outline-none" />
                </form>
            </div>
        }
    </div>
</div>
